<div>
  <div>
    <h1>
      My bookmarks
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new bookmark
    </h2>

<form action="/insert_bookmark" method="post">

      <div>
        <label for="user_id_box">
          User
        </label>


          <select name="query_limitedsarasota_id">
            <%Limitedsarasotum.all.order(:address).each do |a_thing|%>
              <option value="<%= a_thing.id%>"><%=a_thing.address%></option>
            <%end%>
          </select>
      </div>
      <input type="hidden" name="query_user_id" value="<%= @current_user.id %>">
      <button>
        Bookmark this property
      </button>
    </form>
  </div>
</div>




<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Address
        </th>

        <th>
          First Bookmarked at
        </th>

        <th>
        Property Details
        </th>
        <th>
        </th>
      </tr>

      <% @list_of_bookmarks.each do |a_bookmark| %>
      <tr>

        <td>
          <%= a_bookmark.limitedsarasota_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_bookmark.created_at) %> ago
        </td>

        <td>
          <a href="/limitedsarasota/<%= a_bookmark.limitedsarasota_id %>">
            Show details
          </a>
        </td>
        <td>
          <a href="/delete_bookmark/<%= a_bookmark.id%>">Un-bookmark</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
