<div>
  <div>
    <h1>
      List of all Properties
    </h1>
  </div>
</div>
<hr>
<div>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script>
  function initMap() {
    var mapDiv = document.getElementById('map');

    var map = new google.maps.Map(mapDiv);

    var bounds = new google.maps.LatLngBounds();
    
    var infowindow = new google.maps.InfoWindow({
      content: "Click Content" 
    });
    
    var marker = new google.maps.Marker({
      position: {lat: 41.8381065, lng: -87.6512738}, 
      map: map,
      title: 'Hello World!',
      icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png' 
    });
    
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });

  bounds.extend(new google.maps.LatLng(41.8381065, -87.6512738 ));

  map.fitBounds(bounds);
  };
  
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB92cYxPcYqgjwBJfWlwDQw_7yjuyU3tpA&callback=initMap"
async defer></script>
<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Address
        </th>

        <th>
          Land area
        </th>

        <th>
          Living area
        </th>

        <th>
          Beds
        </th>

        <th>
          Baths
        </th>

        <th>
          Half baths
        </th>

        <th>
          Stories
        </th>

        <th>
          Assessed Value
        </th>

        <th>
          Latest Year Assessed
        </th>

        <th>
          Taxes
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_limitedsarasota.each do |a_limitedsarasotum| %>
      <tr>

        <td>
          <%= a_limitedsarasotum.address %>
        </td>

        <td>
          <%= a_limitedsarasotum.land_area %>
        </td>

        <td>
          <%= a_limitedsarasotum.living_area %>
        </td>

        <td>
          <%= a_limitedsarasotum.beds %>
        </td>

        <td>
          <%= a_limitedsarasotum.baths %>
        </td>

        <td>
          <%= a_limitedsarasotum.half_baths %>
        </td>

        <td>
          <%= a_limitedsarasotum.stories %>
        </td>

        <td>
          $<%= eval(a_limitedsarasotum.values_assessed).at(0) %>
        </td>

        <td>
          <%= eval(a_limitedsarasotum.values_years).at(0) %>
        </td>

        <td>
          $<%= a_limitedsarasotum.taxes %>
        </td>

        <td>
          <%= time_ago_in_words(a_limitedsarasotum.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_limitedsarasotum.updated_at) %> ago
        </td>

        <td>
          <a href="/limitedsarasota/<%= a_limitedsarasotum.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new limitedsarasotum
    </h2>

    <form action="/insert_limitedsarasotum" method="post">
      <div>
        <label for="address_box">
          Address
        </label>

        <input type="text" id="address_box" name="query_address">
      </div>

      <div>
        <label for="year_built_box">
          Year built
        </label>

        <input type="date" id="year_built_box" name="query_year_built">
      </div>

      <div>
        <label for="land_area_box">
          Land area
        </label>

        <input type="text" id="land_area_box" name="query_land_area">
      </div>

      <div>
        <label for="living_area_box">
          Living area
        </label>

        <input type="text" id="living_area_box" name="query_living_area">
      </div>

      <div>
        <label for="ownership_box">
          Ownership
        </label>

        <input type="text" id="ownership_box" name="query_ownership">
      </div>

      <div>
        <label for="municipality_box">
          Municipality
        </label>

        <input type="text" id="municipality_box" name="query_municipality">
      </div>

      <div>
        <label for="subdivision_box">
          Subdivision
        </label>

        <input type="text" id="subdivision_box" name="query_subdivision">
      </div>

      <div>
        <label for="zoning_box">
          Zoning
        </label>

        <input type="text" id="zoning_box" name="query_zoning">
      </div>

      <div>
        <label for="total_living_units_box">
          Total living units
        </label>

        <input type="text" id="total_living_units_box" name="query_total_living_units">
      </div>

      <div>
        <label for="buildings_box">
          Buildings
        </label>

        <input type="text" id="buildings_box" name="query_buildings">
      </div>

      <div>
        <label for="beds_box">
          Beds
        </label>

        <input type="text" id="beds_box" name="query_beds">
      </div>

      <div>
        <label for="baths_box">
          Baths
        </label>

        <input type="text" id="baths_box" name="query_baths">
      </div>

      <div>
        <label for="half_baths_box">
          Half baths
        </label>

        <input type="text" id="half_baths_box" name="query_half_baths">
      </div>

      <div>
        <label for="eff_year_built_box">
          Eff year built
        </label>

        <input type="date" id="eff_year_built_box" name="query_eff_year_built">
      </div>

      <div>
        <label for="gross_area_box">
          Gross area
        </label>

        <input type="text" id="gross_area_box" name="query_gross_area">
      </div>

      <div>
        <label for="stories_box">
          Stories
        </label>

        <input type="text" id="stories_box" name="query_stories">
      </div>

      <div>
        <label for="values_years_box">
          Values years
        </label>

        <input type="text" id="values_years_box" name="query_values_years">
      </div>

      <div>
        <label for="values_land_box">
          Values land
        </label>

        <input type="text" id="values_land_box" name="query_values_land">
      </div>

      <div>
        <label for="values_building_box">
          Values building
        </label>

        <input type="text" id="values_building_box" name="query_values_building">
      </div>

      <div>
        <label for="values_extra_features_box">
          Values extra features
        </label>

        <input type="text" id="values_extra_features_box" name="query_values_extra_features">
      </div>

      <div>
        <label for="values_just_box">
          Values just
        </label>

        <input type="text" id="values_just_box" name="query_values_just">
      </div>

      <div>
        <label for="values_assessed_box">
          Values assessed
        </label>

        <input type="text" id="values_assessed_box" name="query_values_assessed">
      </div>

      <div>
        <label for="values_exemptions_box">
          Values exemptions
        </label>

        <input type="text" id="values_exemptions_box" name="query_values_exemptions">
      </div>

      <div>
        <label for="values_taxable_box">
          Values taxable
        </label>

        <input type="text" id="values_taxable_box" name="query_values_taxable">
      </div>

      <div>
        <label for="values_cap_box">
          Values cap
        </label>

        <input type="text" id="values_cap_box" name="query_values_cap">
      </div>

      <div>
        <label for="transfer_dates_box">
          Transfer dates
        </label>

        <input type="text" id="transfer_dates_box" name="query_transfer_dates">
      </div>

      <div>
        <label for="recorded_considerations_box">
          Recorded considerations
        </label>

        <input type="text" id="recorded_considerations_box" name="query_recorded_considerations">
      </div>

      <div>
        <label for="instrument_numbers_box">
          Instrument numbers
        </label>

        <input type="text" id="instrument_numbers_box" name="query_instrument_numbers">
      </div>

      <div>
        <label for="qualification_codes_box">
          Qualification codes
        </label>

        <input type="text" id="qualification_codes_box" name="query_qualification_codes">
      </div>

      <div>
        <label for="sellers_box">
          Sellers
        </label>

        <input type="text" id="sellers_box" name="query_sellers">
      </div>

      <div>
        <label for="instrument_types_box">
          Instrument types
        </label>

        <input type="text" id="instrument_types_box" name="query_instrument_types">
      </div>

      <div>
        <label for="taxes_box">
          Taxes
        </label>

        <input type="text" id="taxes_box" name="query_taxes">
      </div>

      <button>
        Create Property Listing
      </button>
    </form>
  </div>
</div>

<hr>
